<div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: people">
                <tr>
                    <td><a href="#" data-bind="click: $root.select"><span data-bind="text: Name"></span></a></td>
                    <td data-bind="text: Age"></td>
                    <td><a href="#" data-bind="attr: { href: '/#edit/'+PersonId() }">Edit</a></td>
                    <td><a href="#" data-bind="click: $root.removePerson">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a href="#/add">Add new</a>
    </div>
</div>
